<h1>Ч Е Р Н О В А</h1>


<h1>Условия за ползване</h1>


<h2>Задължения</h2>
Потребителите на сайта са длъжни да използват системата, само през browser и без помощта на автоматизирани средстава. Те също са длъжни /Потребителите на системата се съгласяват/ да ползват системата по-начина по-който е предвидена. Ако желаят да пробват/експериментират нови системи на работа, Гудасофт осигурява отделна независима от оригиналната система.


<h2>Подръжка</h2>
Гудасофт се задължава да подържа системата изправна и да отстранява открити грешки в нея.
Потребителите на сайта са длъжни да съобщават за открити грешки на свойте ръководители, а те на свой ред на Гудасофт.

<h2>Отговорности</h2>

<h3>Достъпност</h3>
Гудасофт се задължава да осигури 24x7 достъпност към системата. /Гудасофт/ Фирмата, компанията не носи отговорност за пропуснати ползи в случаите, когато системата е недостъпна, незивисимо дали това е било по вина на хостинга на системата, технически проблем, липсата на достъп/свързаност от клиента и др., освен в случайте когато има допълнително писмено споразумение описващо условията и техническите средства за осигуряването на непрекъсната работа (Ако нямаш практиката да правиш такива споразумения, по-добре да го махнем). Гудасофт се задължава да предупреждава за планирани прекъсвания ползвателя на системата чрез /подаден от него/ емайл e-mail, телефон и др. начин.

<h3>Загуби на данни</h3>
Отговорност на клиента е да изисква и специфира начина на съхранение на данните му с цел архивиране. Гудасофт не носи отговорност за повредени данни в случай на програмната грешка или от неправилното използване на системата. Гудасофт ще съдейства за отстраняване на данните и възможно най-пълното им възтановяване.

<h3>Авторско право</h3>
Гудасофт няма право да разпространява/публикува/заема никаква информация публикувана в системата или части от нея освен в
случайте, когато има писмено разрешение от собственика и или от неговите ръководители.

Гудасофт не носи отговорност за публикуваните оферти, текстове, снимки и др. документи в системата. Те са изцяло собственост на
съответният автор.

<h2>Акаунти</h2>
Акаунтите са лични и не се разрешава споделянето им с други потребители. Сигурността на паролите към акаунтите и защитеността на емайл e-mail адресите са изцяло отговорност на потребителите на системата

<h3>Други</h3>
Ако случайно или нарочно потребител попадне на информация, която не е предназначена за него няма право да я ползва, предавате съхранявате или разпространява.
