<% title "Floor Type" %>

<p>
  <strong>Active:</strong>
  <%=h @floor_type.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @floor_type.position %>
</p>

<p>
  <%= link_to "View All", admin_floor_types_path %>
</p>
