<% title "Building Type" %>

<p>
  <strong>Active:</strong>
  <%=h @building_type.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @building_type.position %>
</p>

<p>
  <%= link_to "View All", admin_building_types_path %>
</p>
