<% title "Property Location" %>

<p>
  <strong>Active:</strong>
  <%=h @property_location.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @property_location.position %>
</p>

<p>
  <%= link_to "View All", admin_property_locations_path %>
</p>
