<% title "Road Type" %>

<p>
  <strong>Active:</strong>
  <%=h @road_type.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @road_type.position %>
</p>

<p>
  <%= link_to "View All", admin_road_types_path %>
</p>
