<% title "Property Type" %>

<p>
  <strong>Active:</strong>
  <%=h @property_type.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @property_type.position %>
</p>

<p>
  <%= link_to "View All", admin_property_types_path %>
</p>
