<% title "Exposure Type" %>

<p>
  <strong>Active:</strong>
  <%=h @exposure_type.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @exposure_type.position %>
</p>

<p>
  <%= link_to "View All", admin_exposure_types_path %>
</p>
