<% title "Apartment Type" %>

<p>
  <strong>Active:</strong>
  <%=h @apartment_type.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @apartment_type.position %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @aprtment_type.name %>
</p>

<p>
  <%= link_to "View All", admin_apartment_types_path %>
</p>
