<% title "Offer Type" %>

<p>
  <strong>Position:</strong>
  <%=h @offer_type.position %>
</p>
<p>
  <strong>Active:</strong>
  <%=h @offer_type.active %>
</p>
<p>
  <strong>Category:</strong>
  <%=h @offer_type.category %>
</p>

<p>
  <%= link_to "View All", admin_offer_types_path %>
</p>
