<% title "Validation Type" %>

<p>
  <strong>Name:</strong>
  <%=h @validation_type.name %>
</p>
<p>
  <strong>Active:</strong>
  <%=h @validation_type.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @validation_type.position %>
</p>

<p>
  <%= link_to "View All", admin_validation_types_path %>
</p>
