<% title(t("Номенклатура", :scope => [:admin, :dashboard])) %>

<%= render :partial => '/admin/navigations/items' %>

<p><%= image_tag("help.jpeg") + " " + t("nomeclature_screen_help", :scope => [:admin, :dashboard]) %></p>
