<% title "Infrastructure Type" %>

<p>
  <strong>Active:</strong>
  <%=h @infrastructure_type.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @infrastructure_type.position %>
</p>

<p>
  <%= link_to "View All", admin_infrastructure_types_path %>
</p>
