<% title "Room Type" %>

<p>
  <strong>Active:</strong>
  <%=h @room_type.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @room_type.position %>
</p>
<p>
  <strong>Area:</strong>
  <%=h @room_type.area %>
</p>

<p>
  <%= link_to "View All", admin_room_types_path %>
</p>
