<% title "Property Function" %>

<p>
  <strong>Active:</strong>
  <%=h @property_function.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @property_function.position %>
</p>

<p>
  <%= link_to "View All", admin_property_functions_path %>
</p>
