[Desktop Entry]
Encoding=UTF-8
Name=Link to Create a multilevel Dropdown menu with CSS and improve it via jQuery | Kriesi.at - Wordpress Themes and HTML Templates
Type=Link
URL=http://www.kriesi.at/archives/create-a-multilevel-dropdown-menu-with-css-and-improve-it-via-jquery
Icon=gnome-fs-bookmark
