<% title "Property Category Location" %>

<p>
  <strong>Active:</strong>
  <%=h @property_category_location.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @property_category_location.position %>
</p>

<p>
  <%= link_to "View All", admin_property_category_locations_path %>
</p>
