<% title "Heating Type" %>

<p>
  <strong>Active:</strong>
  <%=h @heating_type.active %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @heating_type.position %>
</p>

<p>
  <%= link_to "View All", admin_heating_types_path %>
</p>
