<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>System down for maintenance</title>

    <style type="text/css">
      div.outer {
        width: 500px;
        height: 300px;
        margin: auto auto;
      }

      .DialogBody {
        margin: 0;
        padding: 10px;
        text-align: left;
        border: 1px solid #ccc;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        background-color: #fff;
      }

      body { background-color: #fff; }
    </style>
  </head>

  <body>

    <div class="outer">
      <div class="DialogBody" style="text-align: center;">
        <div style="text-align: center; width: 412px; margin: 0 auto;">
          <p style="color: red; font-size: 16px; line-height: 20px;">
            В момента сайта е в режим на <%= reason ? reason : "настройка" %>
            от <%= Time.now.strftime("%H:%M %Z") %>
          </p>
          <p>
            Ще бъдем онлайн <%= deadline ? "до #{deadline}" : "скоро" %>.
          </p>
          <p>
            ако имате въпроси<br/>
            skype: i.bardarov<br/>
            телефон: 0899947329 <br/>
          </p>
          <p style="color: #666;">
            Извинявайте за причиненото неудобство!
          </p>
          <img src="http://gudasoft.com/wait.jpg"/>
        </div>
      </div>
    </div>
    <p><p>
    <p><p>
    <p><p>
    <p><p>
  </body>
</html>
